*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
.cst-but{
  flex: 1;
  width: 200px;
  height: 35px;
  min-width: 150px;
  background-color: transparent !important;
  color: var(--tg-theme-text-color) !important;
}
.cst-but.active{
  background-color: #F4BC3C !important;
  color: white !important;
}
/*.my-imgs{
	overflow: scroll;
}*/
.hidden-but{
  visibility: hidden !important;
  pointer-events: none;
}

.app-loader{
	visibility: visible;
	text-align: center;
	margin-bottom: 15px;
}
.loader-icon{
	display: inline-block;
  border: 2px solid rgba(247, 221, 161,.3);
  border-top: 2px solid #F4BC3C;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: a .75s linear infinite;
}
@keyframes a {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.activeTab{
  width: 100%;
  overflow-y: auto;
}

.activeTab img{
  width: 20%;
  position: absolute;
  transition: all .2s ease;
}

.img_start{
  opacity: 0;
}

.img_transform{
  border-radius: 15px;
  opacity: 0;
  transform: translateY(200px);
  cursor: pointer;
}

.img_end{
  opacity: 1;
  transform: translateY(0)
}

.loadgo{
	/*margin: 0 auto;
	width: 80%;
	height: 52px;*/
  border: none;
	position: fixed;
  bottom: 13%;
  left: 10%;
  width: 80%;
  margin: 0 auto;
	height: 52px;
	opacity: 0;
	transform: translateY(200px);
  border-radius: 8px;
}

.btncheck{
	transition: all .2s ease;
	opacity: 1;
	transform: translateY(0px);
}

.step-2{
  height: 100vh;
  box-sizing: border-box;
  padding-right: 40px;
  padding-top: 70px;
  padding-left: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.fle{
  flex-basis: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.kl-i{
  width: 150px;
  border-radius: 15px;
}

.buttons{
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
  max-width: 400px;
}
.buttons .cst-but{
  width: 100%;
  max-width: 100%;
}

.img-last{
  max-height: 45vh;
  border-radius: 15px;
}






.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}
 
.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
 
.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}
 
.input__file-button {
  width: 100%;
  max-width: 290px;
  height: 45px;
  background: #F4BC3C;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center; 
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto;
}

.podpispbt{
  border: 0;
  min-height: 40px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;  
}
